header{
    background-color: rgb(1, 75, 88);
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}
.logo{
    color: aliceblue;
    font-size: 32px;
    text-decoration: none;
    border-right: 3px solid;
    padding-right: 15px;
}
nav a{
    text-decoration: none;
    color: aliceblue;
}
ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}
nav li{
    font-size: 20px;
    margin-right: 30px;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section{
    margin: 100px 0 200px 0;
}
#About{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-container{
    max-width: 100%;
    box-shadow: 10px 8px 8px black;
    margin-left: 20%;
}
.right-container{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-right: 20%;
}
button{
    color: rgb(255, 255, 255);
    padding: 10px 5px 10px 5px;
    cursor: pointer;
    background-color: black;
    border-radius: 5%;
    font-size: 15px;
}
#Education{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    background-color: lightgreen;
    padding: 0px 300px;
    border-bottom: 2px solid green;
}
.eduup{  
    padding: 20px;
    background-color: aquamarine;
    font-size: 20px;
    margin-right: 50px;
    border-right: 5px solid;
    border-bottom: 5px solid;
}
.edumid{   
    padding: 20px;
    background-color: aquamarine;   
    font-size: 20px;
    margin-right: 50px;
    border-right: 5px solid;
    border-bottom: 5px solid;
}
.edudown{  
    padding: 20px;
    background-color: aquamarine;  
    font-size: 20px;
    border-right: 5px solid;
    border-bottom: 5px solid;
}
.box{
    display: flex;
    margin-top: 30px;
}
#Skills{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Skills h2{
    padding: 0px 400px;
}
#Skills img{
    padding-right: 100px;
    padding-left: 100px;
}
.row1-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row2-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#Projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Projects h2{
    padding: 0px 385px;
}
#Contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Contact h2{
    padding: 0px 380px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 50vw;
}
input, textarea{
    padding: 10px 80px;
}
input[type="text" i] {
    /* padding-block: 1px; */
    padding-inline: 2px;
}
input[type="email" i] {
    /* padding-block: 1px; */
    padding-inline: 2px;
}
#Contact button{
    background-color: aliceblue;
    color: green;
}
footer{
    text-align: center;
    background-color: rgb(1, 75, 88);
    padding: 20px 0px;
    color: white;
}